<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
    </Console>
    <RollingFile name="RollingFile" fileName="${sys:catalina.base}/logs/app.log"
                 filePattern="${sys:catalina.base}/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="com.eomcs.pms.dao" level="debug" additivity="false">
      <AppenderRef ref="RollingFile" />
      <AppenderRef ref="console" />
    </Logger>
    
    <Root level="debug" additivity="false">
      <AppenderRef ref="RollingFile" />
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>