<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ArticleDao">
  <resultMap type="article" id="ArticleMap">
    <id column="arno"           property="no"/>
    <result column="cano"       property="categoryNo"/>
    <result column="title"      property="title"/>
    <result column="content"    property="content"/>
    <result column="cdt"        property="createdDate"/>
    <result column="vw_cnt"     property="viewCount"/>
    <result column="udt"        property="updatedDate"/>
    <result column="ddt"        property="deletedDate"/>
    <result column="status"     property="status"/>
    <result column="st_status"  property="studyStatus"/>
    <result column="rc_edt"     property="endDate"/>

    <association property="writer" javaType="user">
      <id column="uno"          property="no"/>
      <result column="nick"     property="nickname"/>
    </association>
    
    
  </resultMap>
  
  <insert id="insert" parameterType="article">
    insert into article(title,writer,rc_edt,content,cano) 
    values(#{title}, #{writer.no}, #{endDate}, #{content}, #{categoryNo})
  </insert>
  
  <sql id="sql1">
    select 
      a.arno, 
      a.title,
      a.cdt,  
      a.vw_cnt, 
      a.writer,
      u.nick
    from 
      article a
      inner join user u on a.writer=u.uno
  </sql>
  
  <select id="findAll" resultMap="ArticleMap" parameterType="string">
  	<include refid="sql1"/>
  	<if test="keyword != null">
  	where
  		a.title like concat('%', #{keyword}, '%')
  		or u.nick like concat('%', #{keyword}, '%')
  	</if>
  	order by a.arno desc
  </select>
  
   <update id="update" parameterType="article">
    update article
    <set>
      <if test="title != null">title = #{title},</if>
      <if test="content != null">content = #{content},</if>
      
    </set>
    where no = #{no}
  </update>
    
    <select id="findByNo" resultMap="ArticleMap" parameterType="int">
    select 
      a.arno, 
      a.title,
      a.content,
      a.cdt,  
      a.vw_cnt, 
      u.nick
    from 
      article a
      inner join user u on a.writer=u.uno   
     where a.arno=#{no}  
    </select>
    
    <update id="updateViewCount" parameterType="int">
      update article set 
        vw_cnt = vw_cnt+1
      where arno=#{no}  
    </update>
    
     <delete id="delete" parameterType="int">
    delete from article
    where no=#{no}
  </delete>
    
</mapper>