<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ArticleDao">
  <resultMap type="article" id="ArticleMap">
    <id column="arno"           property="no"/>
    <result column="cano"       property="categoryNo"/>
    <result column="title"      property="title"/>
    <result column="content"    property="content"/>
    <result column="cdt"        property="createdDate"/>
    <result column="vw_cnt"     property="viewCount"/>
    <result column="udt"        property="updatedDate"/>
    <result column="ddt"        property="deletedDate"/>
    <result column="state"     property="state"/>
    <result column="st_status"  property="studyStatus"/>
    <result column="rc_edt"     property="endDate"/>
    

    <association property="writer" javaType="user">
      <id column="uno"          property="no"/>
      <result column="article_nick"     property="nickname"/>
      <result column="article_photo"     property="photo"/>
    </association>
    
    <collection property="tags" ofType="tag">
      <id column="tno" property="no"/>
      <result column="tag_name" property="name"/>
      <result column="tag_color"    property="tagColor"/>
      <result column="font_color"    property="fontColor"/>
    </collection>
    
    <collection property="comments" ofType="comment">
      <id column="cno" property="no"/>
      <result column="comment_content" property="content"/>
      <result column="comment_cdt" property="createdDate"/>
      <result column="comment_state" property="state"/>
    
      
      <association property="writer" javaType="user">
	      <id column="uno"                   property="no"/>
	      <result column="comment_nick"      property="nickname"/>
	      <result column="comment_photo"     property="photo"/>
      </association>
    </collection>
    
  </resultMap>
  
  <insert id="insert" parameterType="article" 
  useGeneratedKeys="true" keyColumn="arno" keyProperty="no">
    insert into article(title,writer,rc_edt,content,cano) 
    values(#{title}, #{writer.no}, #{endDate}, #{content}, #{categoryNo})
  </insert>
  
  <insert id="insertTags" parameterType="article">
    insert into arc_tag(tno, arno) 
    values
    <foreach collection="tags" item="tag" separator=",">
      (#{tag.no},#{no})
    </foreach>
  </insert>
  
  <sql id="sql1">
    select 
      a.arno, 
      a.title,
      a.content,
      a.cdt,  
      a.cano,  
      a.vw_cnt, 
      a.state,
      u.uno,
      u.nick article_nick,
      u.photo article_photo,
      at.tno,
      t.name tag_name,
      t.tag_color,
      t.font_color
    from 
      article a
      inner join user u on a.writer=u.uno
      left outer join arc_tag at on a.arno=at.arno
      left outer join tag t on at.tno = t.tno
  </sql>
  
  <select id="findByBookmarker" resultMap="ArticleMap" parameterType="user">
    <include refid="sql1"/>
    left outer join usr_bmk_arc ua on a.arno=ua.arno
    where ua.uno=#{no} 
    order by ua.cdt desc
  </select>
  
  <select id="findAll" resultMap="ArticleMap" parameterType="string">
  	<include refid="sql1"/>
  	<if test="keyword != null">
  	where
  		a.title like concat('%', #{keyword}, '%')
  		or u.nick like concat('%', #{keyword}, '%')
  	</if>
  	order by a.arno desc
  </select>
  
  <select id="findByDetailKeyword" resultMap="ArticleMap" parameterType="map">
    <include refid="sql1"/>
    <where>
      <if test="title != null">
        a.title like concat('%', #{title}, '%')
      </if>
      <if test="owner != null">
        and m.nick like concat('%', #{writer}, '%')
      </if>
      <if test="tag != null">
        and t.name like concat('%', #{tag}, '%')
      </if>
    </where>
    order by a.arno desc
  </select>
  
  
   <update id="update" parameterType="article">
    update article
    <set>
      <if test="title != null">title = #{title},</if>
      <if test="content != null">content = #{content},</if>
      
    </set>
    where arno = #{no}
  </update>
    
    <select id="findByNo" resultMap="ArticleMap" parameterType="int">
      <include refid="sql1"/>
      where a.arno=#{no}  
    </select>
    
    <select id="findByCategoryNo" resultMap="ArticleMap" parameterType="int">
    select 
      a.arno, 
      a.title,
      a.content,
      a.cdt,  
      a.cano,
      a.state,
      u.nick article_nick,
      u.photo article_photo,
      a.vw_cnt
    from 
      article a
      inner join user u on a.writer=u.uno
     where a.cano=#{categoryNo}  
    </select>
    
    <update id="updateViewCount" parameterType="int">
      update article set 
        vw_cnt = vw_cnt+1
      where arno=#{no}  
    </update>
    
	  <delete id="delete" parameterType="int">
	    delete from article
	    where arno=#{no}
	  </delete>
	  
    <update id="inactive" parameterType="int">
    update article set
      state = 0
    where arno=#{no}
  </update>
</mapper>