<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devil.dao.BadgeStanDao">

	<resultMap type="badgeStan" id="BadgeStanMap">
		<id column="bsno" property="no" />
		<result column="count" property="count" />
		<result column="bno" property="badgeNo" />
		<result column="beno" property="evaluationNo" />
		<result column="bename" property="evaluationName" />
	</resultMap>

	<insert id="insert" parameterType="badgeStan">
		insert into
		bdg_stan(beno, count, bno)
		values(#{evaluationNo}, #{count}, #{badgeNo})
	</insert>

	<sql id="sql1">
		select
		  bs.bsno,
		  bs.bno,
		  bs.count,
		  bs.beno,
		  be.bename
		from
		  bdg_stan bs
		inner join bdg_eva be on bs.beno = be.beno
	</sql>
	
	 <select id="findByBadgeNo" resultMap="BadgeStanMap"
    parameterType="int">
    <include refid="sql1" />
    where bs.bno=#{no}
  </select>

	<update id="update" parameterType="badgeStan">
		update bdg_stan set count = #{count}
		where bsno=#{no}
	</update>
</mapper>
