<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devil.dao.BlockDao">
	<resultMap type="block" 	  id="BlockMap">
		<id column="blno"		      property="no" />
		<result column="cdt"	    property="permittedDate" />
		<result column="dates"	  property="blockedDates"/>
		<result column="bl_rsn"	  property="blockedReason" />
		<result column="unbl_rsn" property="unBlockedReason" />

<association property="reportedUser" javaType="user">
    <id column="uno"                 property="no"/>
    <result column="blocked_nick"	   property="nickname"/>
    <result column="blocked_email"	 property="email"/>
</association>

	</resultMap>
	
	<sql id="sql1">
	   select
     b.blno,
     b.cdt,
     b.dates,
     b.bl_rsn,
     b.unbl_rsn,
     u.uno,
     u.nick blocked_nick,
     u.email blocked_email
   from
     block b
     inner join user u on b.uno=u.uno
	</sql>
	
	<insert id="insert" parameterType="block">
		insert into block(uno, cdt, dates, bl_rsn)
		values(
			(select
			  ar.writer
			from 
			  report rp 
			  inner join repo_arc rpa on rp.rpno = rpa.rpno
			  inner join article ar on rpa.arno = ar.arno
			where
			  rp.rpno=#{report.no})
		,	now(), #{blockedDates}, #{blockedReason})
	</insert>
	
	<select id="findAll" resultMap="BlockMap" parameterType="string">
		<include refid="sql1" />
		<if test="keyword != null">
		where
			u.nick like concat('%', #{keyword}, '%')
		</if>
		order by b.blno desc
	</select>

    <select id="findByNo" resultMap="BlockMap" parameterType="int">
     <include refid="sql1"/>
      where b.blno=#{no} 
    </select>
    
    <select id="findByUserNo" resultMap="BlockMap" parameterType="int">
     <include refid="sql1"/>
      where u.uno=#{reportedUser.no} 
     <![CDATA[  and now() <= date_add(b.cdt, interval b.dates day) ]]>
    </select>
</mapper>