<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BookmarkDao">
	<resultMap type="bookmark" id="BookmarkMap">
		<id column="uno" property="userNo" />
		<id column="arno" property="articleNo" />
		<result column="cdt" property="createdDate" />
	</resultMap>


	<insert id="insert" parameterType="bookmark">
		insert into usr_bmk_arc(uno,
		arno)
		values(#{userNo}, #{articleNo})
	</insert>

	<delete id="delete" parameterType="bookmark">
		delete from usr_bmk_arc
		where uno=#{userNo} and arno=#{articleNo}
	</delete>

  <select id="findByUserArticle" resultMap="BookmarkMap" parameterType="map">
    select
      uno,
      arno, 
      cdt
    from usr_bmk_arc
    where uno=#{userNo} and arno=#{articleNo}
  </select>
</mapper>