<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CommentDao">
<!--
  <resultMap type="comment"   id="CommentMap">
    <id column="cno"          property="no"/>
    <result column="content"  property="content"/>
    <result column="cdt"      property="createdDate"/>
    <result column="step"     property="step"/>
    <result column="ord"     property="ord"/>
    <result column="udt"      property="updatedDate"/>
    <result column="ddt"   property="deletedDate"/>
    <result column="status"   property="status"/>
    <result column="selected" property="selected"/>
    
    <association property="writer" javaType="user">
      <id column="uno"                   property="no"/>
      <result column="nick"      property="nickname"/>
      <result column="photo"     property="photo"/>
    </association>
    
  </resultMap>
-->
  <insert id="insert" parameterType="comment">
    insert into comment(cno, arno, content, uno) 
    values(#{no}, #{articleNo}, #{content}, #{writer.no})
  </insert>

  <update id="update" parameterType="comment">
    update comment
    <set>
      <if test="content != null">content = #{content}</if>
    </set>
      where 
      cno=#{no}
      arno=#{articleNo}
  </update>
  
  <update id="inactive" parameterType="int">
    update comment set
      state = 0,
      ddt=now()
    where cno=#{no}
  </update>
<!--

  <select id="findAll" resultMap="CommentMap"	parameterType="string">
  </select>
 

  <select id="findByNo" resultMap="CommentMap" parameterType="int">
  </select>

  <update id="updateViewCount" parameterType="int">
  </update>

  <delete id="delete" parameterType="int">
  </delete>

  -->
  
</mapper>