<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CommentDao">
  <resultMap type="comment"   id="CommentMap">
    <id column="cno"          property="no"/>
    <result column="content"  property="content"/>
    <result column="cdt"      property="createdDate"/>
    <result column="ord"      property="ord"/>
    <result column="step"     property="step"/>
    <result column="udt"      property="updatedDate"/>
    <result column="status"   property="deletedDate"/>
    <result column="selected" property="selected"/>
    
    <association property="writer" javaType="user">
      <id column="uno"                   property="no"/>
      <result column="comment_nick"      property="nickname"/>
      <result column="comment_photo"     property="photo"/>
    </association>
    
  </resultMap>

  <insert id="insert" parameterType="comment">
    insert into comment(cno, content, uno, cdt) 
    values(#{no}, #{content}, #{uno} now())
  </insert>

<!--

  <select id="findAll" resultMap="CommentMap"	parameterType="string">
  </select>
 
  <update id="update" parameterType="comment">
  </update>

  <select id="findByNo" resultMap="CommentMap" parameterType="int">
  </select>

  <update id="updateViewCount" parameterType="int">
  </update>

  <delete id="delete" parameterType="int">
  </delete>

  -->
  
  
  
</mapper>