<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReportDao">
	<resultMap type="report" id="ReportMap">
		<id column="rpno" property="no" />
		<result column="rptno" property="reportTypeNo" />
		<result column="cdt" property="createdDate"/>
		<result column="status" property="status" />
		<result column="pdt" property="processDate" />
		
		<association property="reporter" javaType="user">
      <id column="uno"          property="no"/>
      <result column="reporter_nick"    property="nickname"/>
      <result column="reporter_email"    property="email"/>
    </association>
    
    <association property="reportedArticle" javaType="article">
      <id column="arno"          property="no"/>
      <result column="article_title"    property="title"/>
      <result column="article_content"    property="content"/>
    </association>
    
    <association property="reportedComment" javaType="comment">
      <id column="cno"          property="no"/>
      <result column="comment_content"    property="content"/>
    </association>
    
    <association property="reportedUser" javaType="user">
      <id column="uno"          property="no"/>
      <result column="reported_nick"    property="nickname"/>
      <result column="reported_email"    property="email"/>
    </association>
	</resultMap>

  <sql id="sql1">
   select
     r.rpno,
     r.rptno,
     r.uno,
     r.cdt,
     r.status,
     r.pdt,
     u.uno,
     u.nick reporter_nick,
     u.email reporter_email,
     ra.arno reported_article,
     rc.cno reported_comment,
     ru.uno reported_user
   from
     report r
     inner join user u on r.uno=u.uno
     left outer join repo_arc ra on r.rpno=ra.rpno
     left outer join repo_comt rc on r.rpno=rc.rpno
     left outer join repo_user ru on r.rpno=ru.rpno
  </sql>

	<insert id="insert" parameterType="report">
		insert into report(rpno, rptno, uno, cdt)
		values(#{no}, #{reportTypeNo}, #{reporter.no}, now())
	</insert>

  <insert id="insertReportedUser" parameterType="user">
    insert into repo_user(rpno, uno)
    values(#{no}, #{reportedUser.no})
  </insert>

  <insert id="insertReportedComment" parameterType="report">
    insert into repo_comt(rpno, cno)
    values(#{no}, #{reportedComment.no})
  </insert>

  <insert id="insertReportedArticle" parameterType="report">
    insert into repo_arc(rpno, arno)
    values(#{no}, #{reportedArticle.no})
  </insert>

	<select id="findAll" resultMap="ReportMap" parameterType="string">
		<include refid="sql1" />
		<if test="keyword != null">
		where
			r.rptno like concat('%', #{keyword}, '%')
		</if>
		order by r.rpno desc
	</select>

    <update id="admitblock" parameterType="int">
    update report set
      status = 2
    where rpno=#{no}
  </update>
<!-- 
	<update id="update" parameterType="tag">
		update tag
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="photo != null">photo = #{photo},</if>
			<if test="tagColor != null">tag_color = #{tagColor},</if>
			<if test="fontColor != null">font_color = #{fontColor},</if>
		</set>
		where tno=#{no}
	</update>

	<delete id="delete" parameterType="int">
		delete from tag
		where tno=#{no}
	</delete>
 -->
</mapper>