<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDao">

  <resultMap type="user" id="UserMap">
    <id column="uno"            property="no"/>
    <result column="email"      property="email"/>
    <result column="nick"       property="nickname"/>
    <result column="name"       property="name"/>
    <result column="pwd"        property="password"/>
    <result column="cdt"        property="createdDate"/>
    <result column="rnt_vsdt"   property="recentVisitedDate"/>
    <result column="log_type"   property="loginType"/>
    <result column="photo"      property="photo"/>
    <result column="hp_url"     property="homepageURL"/>
    <result column="gh_url"     property="githubURL"/>
    <result column="in_url"     property="instarURL"/>
    <result column="tw_url"     property="twitterURL"/>
    <result column="blocked"    property="blocked"/>
    <result column="tech"       property="tech"/>
    <result column="auth"       property="auth"/>
    <result column="noti"       property="noti"/>
    
  </resultMap>

  <insert id="insert" parameterType="user">
    insert into user(email,nick,name,pwd,log_type, photo) 
    values(#{email}, #{nickname}, #{name}, password(#{password}), #{loginType}, #{photo})
  </insert>
  
  <sql id="sql1">
    select 
      uno, 
      email, 
      nick,
      name, 
      hp_url,
      gh_url,
      in_url,
      tw_url,
      pwd, 
      photo,
      cdt,
      log_type
    from 
      user
  </sql>
  
  <select id="findAll" resultMap="UserMap" parameterType="string">
  	<include refid="sql1"/>
  	<if test="keyword != null">
  	where
  		email like concat('%', #{keyword}, '%')
  		or nick like concat('%', #{keyword}, '%')
  	</if>
  	order by uno desc
  </select>
  
  <select id="findByNo" resultMap="UserMap" parameterType="int">
    select 
      uno, 
      email, 
      nick,
      name,
      hp_url,
      gh_url,
      in_url,
      tw_url,
      pwd, 
      cdt, 
      log_type,
      photo,
      hp_url,
      tech
    from 
      user
    where uno=#{no}
  </select>
  
  <select id="findByEmailPassword" parameterType="map" resultMap="UserMap">
    select
      uno, 
      email, 
      nick,
      name,
      pwd, 
      cdt, 
      log_type,
      photo,
      hp_url,
      tech
    from 
      user
    where
     email = #{email}
     and pwd = password(#{password})
  </select>
  
    <update id="update" parameterType="user">
    update user
    <set>
      <if test="nickname != null">nick = #{nickname},</if>
      <if test="password != ''">pwd = password(#{password}),</if>
      <if test="photo != ''">photo = #{photo},</if>
      <if test="homepageURL != null">hp_url = #{homepageURL},</if>
      <if test="githubURL != ''">gh_url = #{githubURL},</if>
      <if test="instarURL != ''">in_url = #{instarURL},</if>
      <if test="twitterURL != ''">tw_url = #{twitterURL},</if>
      <if test="tech != ''">tech = #{tech},</if>
      <if test="photo != ''">photo = #{photo}</if>
    </set>
    where uno = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from user
    where uno=#{no}
  </delete>
</mapper>