@import
  url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap')
  ;

/* 레이아웃 */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
}

.container {
  margin: 70px auto 20px 240px;
  padding: 30px;
}

.main-color {
  color: #6C5DDF;
}

/* 상단바 */
header {
  position: fixed;
  z-index: 2;
  background-color: #2E3034;
  color: #6C5DDF;
  text-align: center;
  float: right;
  left: 220px;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
}

#search {
  border-radius: 10px;
  border: 0px;
  color: white;
  background-color: #212325;
  background-image: url("search.png");
  background-size: 30px;
  background-position: 5px 4px;
  background-repeat: no-repeat;
  outline: none;
  font-size: 12px;
  float: left;
  margin-left: 20px;
  width: 300px;
}

header button {
  margin: 5px;
}

header a.btn {
  float: right;
}

header .btn {
  margin: 0px;
}

nav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: #212327;
  overflow-x: hidden;
  margin: 0px 10px 0px 0px;
  line-height: 3em;
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
  float: left;
}

nav i {
  margin-right: 10px;
}

input::placeholder {
  padding-left: 5px;
  color: #dbdbdb;
}

nav ul hr {
  border: 1px solid #3b3b3b;
}

nav ul {
  padding-left: 0;
  text-align: center;
}

nav a {
  text-decoration: none;
}



nav a:hover {
  color: #6C5DDF;
}


nav i {
  padding-right: 10px;
}

nav .buttons li {
  text-align: left;
  padding-left: 40px;
}

nav #sitename {
  padding-bottom: 50px;
  font-family: 'Aldrich';
  line-height: 40px;
  font-weight: normal;
  font-size: 24px;
}

nav #logo-nav {
  text-align: center;
  padding-top: 30px;
  width: 77px;
}


/* 하단바 */
footer {
  clear: both;
  padding: 20px;
  margin-left: 250px;
  margin-right: 100px;
  
}

footer hr {
  border: 1px solid #535353;
}

footer img {
  width: 43px;
}


footer #pro-logo {
  border-radius: 7px;
  -moz-border-radius: 70px;
  -khtml-border-radius: 70px;
  -webkit-border-radius: 70px;
}


/* 테이블 */
table {
  border-collapse: collapse;
  border-style: hidden;
  display: block;
  margin: 20px 0px;
  border-color: #37393E;
}

tbody tr {
  background-color: #2E3034;
}

thead tr {
  background-color: #6C5DDF;
}

th, td {
  border-left: hidden;
  border-right: hidden;
  padding: 10px;
  text-align: center;
}

/* 목록 제목 */
#title {
  text-align: left;
}

#tags {
  list-style: none;
  padding: unset;
  margin: 5px 0px;
}

#tags li {
  margin-right: 8px;
  display: inline;
  font-size: 14px;
  text-transform: capitalize;
}

#color {
  text-align: center;
  color: #37393E;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  padding: 2px 5px;
}

#menubar {
  height: 30px;
  padding: 5px;
}

/*사이드바 유저 프로필*/
.user-card {
  padding: 8px 12px;
}

.user-card::after {
  content: "";
  display: block;
  clear: left;
}

.user-photo {
  width: 60px;
  height: 60px;
  margin-left: 12px;
  margin-right: 15px;
  float: left;
}

.user-photo img {
  border-radius: 50%;
}

.user-name {
  float: left;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: auto;
}

/* 버튼 */
.btn {
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
  color: white;
  font-weight: bold;
}

/* 링크 */

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #6C5DDF;
}

a:visited {
  color: #5D4ECB;
}

#urls {
  padding: 5px;
  font-size: 2em;
}

.form-control {
	border: 0px;
}


/*카드*/
div.card {
  background-color: #2E3034;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.card-band {
  height: 15px;
  border-radius: 6px 6px 0px 0px;
}

.card-img-top, .card-img {
	width: auto;
}

/*유저페이지*/
.user-info .position-absolute {
	margin: 20px;
}

.user-info .card-img-top {
	margin-top: -70px;
	margin-bottom: 15px;
}
.user-info .urls .btn {
  margin: 0px;
}
